---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Steps from '~/components/widgets/Steps.astro';

const metadata = {
  title: '개인별 실적',
};
---

<Layout metadata={metadata}>
  <HeroText tagline="Publication" title="개인별 실적" subtitle="팀원들의 개인별 실적입니다." />

  <Steps
    title=""
    items={[
      {
        title: '<span class="font-medium">홍길동</span>',
        description: '실적을 작성하세요.',
        icon: 'tabler:user',
      },
      {
        title: '<span class="font-medium">홍길동</span>',
        description: '실적을 작성하세요.',
        icon: 'tabler:user',
      },
      {
        title: '<span class="font-medium">홍길동</span>',
        description: '실적을 작성하세요.',
        icon: 'tabler:user',
      },
    ]}
  />
</Layout>
